* {
    margin: 0;
    padding: o;
}

body {
    background: #3f3f3f;
}

.container {
    width: 1200px;
    background: white;
    margin: 0 6%;
}

.con img {
    width: 1200px;
}
nav {
    background: #be9660;
    line-height: 45px;
}

.branding ul {
    
    text-decoration: none;
    background-color: #be9660;
    font-size: 12px;

}

nav li {
    margin-bottom:2px;
    display: inline-block;
    color: brown;
    padding: 5px 10px;
    

}
nav a {
    text-decoration: none;
    padding-left: 8px;
    border-left: 1px solid #ccc;
    display: block;
}
.banner {
    padding: 10px;
}
.b-left {
float: left;
width: 67%;

}
.b-left img {
    display: block;
}
.b-right {
    float: right;
    width: 33%;
}
.clear {
    clear: both;
}
.news {
    
    border: 1px solid black;
    background: #fafafa;
}
.news-title {
    background: #5c4d36;;
    color: #fff;
    padding: 4px;
}
.news-body {
    display: block;
    font-size: 12px;
    font-weight: 8;
    margin-top: 5px;
    border-top: 1px solid black;
    padding: 6px;
}
.news-body img {
    width: 70px;
    height: 70px;
    float: left;
}
.bg {
    background: darkgreen;
    width: 61%;
    padding: 5px;
    color: aliceblue;
    
}
.news-body1{
    display: block;
    font-size: 12px;
    font-weight: 8;
    margin-top: 5px;
    border-top: 1px solid black;
    padding: 6px;
}
footer {
    background: #012020;
    clear: both;
    color: #fde027;
    overflow: hidden;
    padding: 1.8em 1.5em;
    box-sizing: border-box;
    display: block;
}

.m {
    color: #fde024;
    float: left;
    font-size: 1.3rem;
    line-height: 1.6;
    word-wrap: break-word;
}
.v {
    color: #fde024;
    float: right;
    font-size: 1.3rem;
    line-height: 1.6;
    word-wrap: break-word;
}